.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20vh 0 10vh 0;
    gap: 10vh;
    background-color: var(--bg);
    position: relative;
}

.wrapper {
    padding: 0vh 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

.title {
    font-size: var(--title);
    font-weight: 300;
    margin-bottom: 2vh;
}

.texts {
    font-size: var(--paragraph);
    line-height: var(--paragraphLine);
}

.title2 {
    font-size: var(--title2);
    font-weight: 700;
}






@media  (max-width: 799px) {

    .wrapper {
        padding: 0vh 5vw;
        gap: 3vh;
    }

    .title {
        font-size: var(--titleMobile);
    }
    
    .texts {
        font-size: var(--paragraphMobile);
    }
    
    .title2 {
        font-size: var(--title2Mobile);
        font-weight: 700;
    }

    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        margin: 5vh 0;
    }

}


@media (min-width: 800px) and (max-width: 999px) {

    .wrapper {
        padding: 0vh 5vw;
        gap: 3vh;
    }
}


@media (min-width: 1000px) and (max-width: 1199px) {

    .wrapper {
        padding: 0vh 10vw;
        gap: 3vh;
    }

}


@media (min-width: 1200px) and (max-width: 1499px) {

    .wrapper {
        padding: 0vh 15vw;
    }

}