.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20vh 0 10vh 0;
    gap: 10vh;
    background-color: var(--bg);
    position: relative;
}

.wrapper {
    padding: 0vh 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.title {
    font-size: var(--title);
    font-weight: 300;
}

.title2 {
    font-size: var(--title2);
    font-weight: 300;
}

.texts {
    font-size: var(--paragraph);
    line-height: var(--paragraphLine);
    margin-bottom: 5vh;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

.sponsor {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.logoContainer {
    height: 15vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    height: 6vh;
    width: auto;
}

.phone {
    font-weight: 700;
}



@media  (max-width: 799px) {

    .wrapper {
        padding: 0vh 5vw;
        gap: 3vh;
    }

    .title {
        font-size: var(--titleMobile);
    }

    .title2 {
        font-size: var(--title2Mobile);
    }

    .texts {
        font-size: var(--paragraphMobile);
        line-height: var(--paragraphLine2);
    }

    .parallaxContainer {
        background-attachment: initial;
    }

    .sponsors {
        flex-direction: column;
        gap: 15vw;
        align-items: center;
    }
    
    .sponsor {
        gap: 2vh;
    }

    .logoContainer {
        height: 6vh;
        width: 50vw;
        margin-bottom: 2vh;
    }

}


@media (min-width: 800px) and (max-width: 999px) {

    .wrapper {
        padding: 0vh 10vw;
        gap: 3vh;
    }

    .texts {
        line-height: var(--paragraphLine3);
    }

}


@media (min-width: 1000px) and (max-width: 1199px) {

    .wrapper {
        padding: 0vh 15vw;
        gap: 3vh;
    }

    .texts {
        line-height: var(--paragraphLine2);
    }

}


@media (min-width: 1200px) and (max-width: 1499px) {

    .wrapper {
        padding: 0vh 15vw;
    }

}